body {
    margin: 0 auto;
}

.container {
    max-width: 700px;
}

.list {
    max-width: 300px;
    list-style-type: none;
}
.list li {
    border: 1px solid lightgrey;
}


.img-bg {
    width: 500px;
    height: 500px;
    border: 1px solid grey;
    padding: 10px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTCmM6AiADQAxfyNrenn9S_XJFi6-LcL9ie_xvGSHgsLTjXN7kd") no-repeat center center;
    padding-top: 300px;
}
